#site_header {
    background-color:cornflowerblue;
    background-image: url(/img/pattern.png);
    background-size: 280px;
}  

.logo-img {
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-bottom: 1rem;
    padding-right: 0.5rem;
}

.metadata {
    color: darkgray;
    font-size: 12px;
}

.author_link {
    color: cornflowerblue;
    text-decoration: none;
}
