#site_header {
    background-color:cornflowerblue;
    background-image: url(/img/pattern.png);
    background-size: 280px;
}  

.logo-img {
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-bottom: 1rem;
    padding-right: 0.5rem;
}

.article_header {
    font-size: 25px;
    padding-top: 0.25rem;
    padding-bottom: 1rem;
}

main {
    margin: auto;
}
.metadata {
    color: darkgray;
    font-size: 18px;
}

h1 {
   margin-top: 1rem;
    margin-bottom: 0;
}

.author_link {
    color: cornflowerblue;
    text-decoration: none;
}

.date {
    font-size: 12px;
}

.photo_description {
    font-size: 12px;
}

.lorem_ulist {
    padding-left: 0.5rem;
}

.table {
    border-spacing: 0;
    padding-bottom: 1rem;
}
.table_header {
    background-color: rgb(18, 191, 222);
    color: white;
}

.table_body {
    background-color: rgb(213, 247, 255);
}

.table_row2 {
    background-color: white;
}

.th3 {
    width: 40%;
}

.lorem_ulist {
    padding-top: 1rem;
    padding-bottom: 1rem;
}